*{
    margin:0;
    padding:0;
}
// 顶部导航
.ant-layout-header{
    background: rgba(54, 169, 206, 1);
    .logo {
        width: 120px;
        height: 31px;
        float: left;
        color: #fff;
        font-weight: 700;
        font-size: 28px;
    }
    .ant-menu{
        background: rgba(54, 169, 206, 1);
        .nz-item-list{
            margin-left: 40px;
            margin-right: 40px;
            font-weight: 400;
            font-size:22px;
            color: #fff
        }
    }
}