*{
    margin:0;
    padding:0;
}
.layout{
    // 档案内容列表
    .nzContent{
        // 导航搜索
        .nzContentTitle{
            //批量导入
           .nzButton {
                width: 102px;
                height: 30px;
                float: right;
                // margin-top:10px;
                margin-bottom:10px;
          }
        }
        .search-box {
            padding: 8px;
          }
    
          .search-box input {
            width: 188px;
            margin-bottom: 8px;
            display: block;
          }
    
          .search-box button {
            width: 90px;
          }
    
          .search-button {
            margin-right: 8px;
          }
    }
}
// 省略号--鼠标划过全部展示
::ng-deep .ant-select-dropdown-menu-item:hover{
    width: 225px;
    font-size: 12px;
    border: 0px solid #ddd;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:blue;
    text-decoration:underline;
    cursor:pointer; 
}