<nz-layout class="layout">
  <!-- 档案列表顶部 -->
  <app-backsheader></app-backsheader>
  <!-- 档案内容列表 -->
  <nz-content class="nzContent" style="padding:15px 50px;">
    <div class="example-input">
      <input
        nz-input
        placeholder="姓名筛选"
        nzSize="default"
        [(ngModel)]="patientNameSelected"
        (keyup)="keyUpEnter($event)"
      />
    </div>
    <nz-breadcrumb
      class="nzContentTitle"
      style="display: inline-block;float: right;"
    >
      <!-- 请输入患者姓名搜索 -->
      <button
        nz-button
        [nzType]="'primary'"
        (click)="exportList()"
      >
        <span>导出</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <p>请选中需要导出的患者!</p>
      </nz-modal>
    </nz-breadcrumb>
    <!-- 列表内容 -->
     <nz-table #nzTable 
        [nzData]="listOfAllData"   
        (nzCurrentPageDataChange)="currentPageDataChange($event)"

        [nzPageSize] = 'pageSize'
        [nzFrontPagination]='false'
        [nzTotal] = 'pageTotal'
        [nzPageIndex]="pageIndex"
        (nzPageIndexChange)='pageIndexChange($event)'
      >
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"
          >序号</th>
          <th nzCustomFilter>姓名</th>
          <th      
          nzShowFilter
          [nzFilterMultiple]="false"
          [nzFilters]="selectedOptions['sex']"
          (nzFilterChange)="filter('sex', $event)"
          >性别</th>
          <th 
          nzShowFilter
          [nzFilterMultiple]="false"
          [nzFilters]="selectedOptions['age']"
          (nzFilterChange)="filter('age', $event)"
          >年龄</th>
          <th>手机号</th>
          <th>测评报告</th>
          <th   nzShowFilter
          [nzFilterMultiple]="false"
          [nzFilters]="selectedOptions['education']"
          (nzFilterChange)="filter('education', $event)">教育程度</th>
          <th>职业</th>
          <th>婚姻</th>
          <th>地址</th>
          <th  nzShowFilter
          [nzFilterMultiple]="false"
          [nzFilters]="selectedOptions['definiteCase']"
          (nzFilterChange)="filter('definiteCase', $event)">是否确诊老年痴呆</th>
          <th  nzShowFilter
          [nzFilterMultiple]="false"
          [nzFilters]="selectedOptions['pharmacy']"
          (nzFilterChange)="filter('pharmacy', $event)">是否用过痴呆药物</th>
          <th nzShowSort nzSortKey="createTime">建档时间</th>
          <th>建档人</th>
          <th nzShowSort nzSortKey="updateTime">更新时间</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data ;let i = index" (click)="goToDetails(data['info'])">
            <td
            nzShowCheckbox
            [(nzChecked)]="mapOfCheckedId[data.id]"
            (nzCheckedChange)="refreshStatus()"
            (click)="$event.stopPropagation()"
          >
        {{i+1}}</td>
          <td>{{ data.info.patient.patientName }}</td>
          <td>{{ data.info.patient.patientSex === 0 ? "男" : "女" }}</td>
          <td>{{ data.info.patient.patientAge }}</td>
          <td>{{ data.info.patient.mobilephone }}</td>
          <td>{{ data.info.patient.presentation }}</td>
          <td>{{ data.info.patient.education }}</td>
          <td>{{ data.info.patient.jobType }}</td>
          <td>{{ data.info.patient.marrige }}</td>
          <td>{{ data.info.patient.address }}</td>
          <td>{{ data.info.patient.status }}</td>
          <td>{{ data.info.medicationNames }}</td>
          <td>{{ data.info.patient.createTime }}</td>
          <td>{{ data.info.creater }}</td>
          <td>{{ data.info.patient.updateTime }}</td>
        </tr>
      </tbody>
    </nz-table>  
  </nz-content>
</nz-layout>
